In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import seaborn as sns

In [2]:
use = pd.read_csv('usage.csv')

In [3]:
use['# Transactions'] = use['# Transactions'].str.replace(' ', '').str.replace(',', '').str.replace('-','0')

In [4]:
use['Year'] = use['Unnamed: 2']

In [5]:
use = use.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7'], axis=1)

In [6]:
use['# Transactions'] = use['# Transactions'].astype(int)

In [111]:
use.to_csv('usage.csv_cleaned', index=False)

In [7]:
years = use.groupby(['Year'])['# Transactions'].mean()

In [8]:
years

Year
2010    6.877430e+05
2011    9.070634e+05
2012    1.141766e+06
Name: # Transactions, dtype: float64

In [9]:
customers = use.groupby(['Year','Customer'])['# Transactions'].mean()

In [12]:
customers.sort_values(ascending=False)

Year  Customer
2012  CUSTOMER 774     802117023.0
2011  CUSTOMER 284     184775969.5
      CUSTOMER 184     145379267.0
2010  CUSTOMER 184     139197247.0
      CUSTOMER 284     138694932.0
2011  CUSTOMER 3040     84992903.0
2012  CUSTOMER 184      84109262.0
      CUSTOMER 3585     83374350.0
2011  CUSTOMER 3585     62188774.0
2012  CUSTOMER 319      59927946.0
      CUSTOMER 3542     57011377.0
2011  CUSTOMER 3542     53217052.0
2012  CUSTOMER 1773     49086677.0
      CUSTOMER 2812     40577805.0
2011  CUSTOMER 4038     38794500.0
2012  CUSTOMER 677      37080623.0
2010  CUSTOMER 4038     37013142.0
2012  CUSTOMER 441      35363341.0
2011  CUSTOMER 319      29105334.0
2012  CUSTOMER 2835     28050657.0
2011  CUSTOMER 3506     26008785.0
      CUSTOMER 2835     25460459.0
      CUSTOMER 3836     22004491.0
2010  CUSTOMER 2645     21835781.0
      CUSTOMER 2926     21239158.0
      CUSTOMER 2812     20636766.0
2012  CUSTOMER 3040     20520441.0
      CUSTOMER 2645     20307746.0
2011  CUSTOMER 798      20293201.0
2012  CUSTOMER 1732     19623468.0
                          ...
2011  CUSTOMER 3732            0.0
2010  CUSTOMER 3103            0.0
2011  CUSTOMER 3578            0.0
      CUSTOMER 3591            0.0
      CUSTOMER 360             0.0
      CUSTOMER 3606            0.0
2012  CUSTOMER 998             0.0
2011  CUSTOMER 3656            0.0
      CUSTOMER 3661            0.0
      CUSTOMER 3680            0.0
      CUSTOMER 369             0.0
      CUSTOMER 370             0.0
      CUSTOMER 3701            0.0
      CUSTOMER 3722            0.0
      CUSTOMER 3774            0.0
      CUSTOMER 3959            0.0
      CUSTOMER 3787            0.0
2010  CUSTOMER 3039            0.0
      CUSTOMER 3031            0.0
2011  CUSTOMER 3819            0.0
      CUSTOMER 3835            0.0
      CUSTOMER 3849            0.0
      CUSTOMER 3858            0.0
2010  CUSTOMER 3010            0.0
2011  CUSTOMER 387             0.0
2010  CUSTOMER 2995            0.0
2011  CUSTOMER 3925            0.0
      CUSTOMER 3940            0.0
      CUSTOMER 3949            0.0
2012  CUSTOMER 999             0.0
Name: # Transactions, Length: 5190, dtype: float64